<header class="site-header">
  <div class="header-inner">
    <a href="/" class="logo">
      <img src="/img/fgi-logo.svg" alt="Fountain of Grace International Logo">
    </a>

    <nav class="desktop-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/programs.html">Programs</a></li>
        <li><a href="/get-involved.html">Get Involved</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact.html" class="btn-gold">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Floating mobile bubble -->
    <div class="menu-bubble" id="menuBubble">
      <div class="hamburger" id="hamburger"></div>
      <div class="bubble-menu" id="bubbleMenu">
        <a href="/">Home</a>
        <a href="/about.html">About</a>
        <a href="/programs.html">Programs</a>
        <a href="/get-involved.html">Get Involved</a>
        <a href="/blog/">Blog</a>
        <a href="/contact.html" class="gold">Contact Us</a>
      </div>
    </div>
  </div>
</header>
