---
---
<div class="social-bubbles">
  <a href="https://facebook.com/Fountainofgraceministries" class="bubble fb" target="_blank" aria-label="Facebook"></a>
  <a href="https://youtube.com/@fountainofgraceptanorth?si=Jk7sWYQj-kJyHen_" class="bubble yt" target="_blank" aria-label="YouTube"></a>
  <a href="https://www.tiktok.com/@ricardodzaal?is_from_webapp=1&sender_device=pc" class="bubble tk" target="_blank" aria-label="TikTok"></a>
</div>

<style>
  .social-bubbles {
    position: fixed;
    top: 40%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
  }

  .bubble {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    animation: float 3s ease-in-out infinite;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Facebook */
  .fb {
    background-color: #1877f2;
    background-image: url('https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg');
    filter: invert(1);
  }

  /* YouTube */
  .yt {
    background-color: #ff0000;
    background-image: url('https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg');
    filter: invert(1);
  }

  /* TikTok */
  .tk {
    background-color: #000000;
    background-image: url('https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/tiktok.svg');
    filter: invert(1);
  }

  /* Floating animation */
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0px); }
  }
</style>
